@model Hylasoft.BreadApi.Models.BreadModel
@{
  ViewBag.Title = Model.Bread.Name + " - BreadApi";
}
<div ng-controller="breadController" ng-init="getBreads('@Model.Bread.Name');">
  <h2>@Model.Bread.Name </h2>
  <div class="row">
    <div class="col-md-3">
      <div class="list-group">
          <a title="{{bread.Name}}" ng-repeat="bread in breads" class="list-group-item" ng-click="getMethods(bread)" ng-class="{active: isSelectedBread(bread)}">
            {{bread.Name}}
          </a>
      </div>
    </div>
    <div class="col-md-3">
      <div class="list-group">
          <a ng-repeat="method in methods track by $index" class="list-group-item" ng-click="getMethod(method)" ng-class="{active: isSelectedMethod(method)}">
            {{method}}
          </a>
      </div>
    </div>
    <div class="col-md-6">
      <h3>{{breadFormTitle}}</h3>
      <form id="bread-form"></form>
      <div id="result"></div>
    </div>
  </div>
  <div class="progress progress-striped active" ng-show="loading" style="
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: -12px;
">
    <div class="progress-bar" style="width: 100%"></div>
  </div>
</div>
<style>
  .list-group-item {
    text-overflow: ellipsis;
    overflow: hidden;
  }
</style>
