@model Hylasoft.BreadApi.Models.BreadModel
@{
  ViewBag.Title = Model.Bread.Name + " - BreadApi";
}
<h2>@Model.Bread.Name </h2>
<ul>
  @foreach (var bread in Model.Bread.Breads)
  {
    <li>@bread.Name
      <ul>
        @foreach (var method in bread.Methods)
        {
          <li>@method</li>
        }
      </ul>
    </li>
  }
</ul>
