@model Hylasoft.BreadApi.Models.IndexModel
@{
  ViewBag.Title = "BreadApi";
}
<h1>@ViewBag.Title</h1>
<h2>Bread Explorer</h2>
Click on an item to browse through the breads:
<ul>
  @foreach (var bread in Model.Breads)
  {
    <li><a href="@Url.Action("Bread", "Home", new { id = bread })">@bread</a></li>
  }
</ul>
